<div class="panel panel-default" id="main-menu">
    <div class="panel-heading">
        <h1 class="text-center">NGTB Skills Search</h1>
    </div>
    <div class="panel-body">
        <div class="row row-header">
            <div class="col-lg-1">
                <h1>Name</h1>
            </div>
        </div>
        <div class="row" id="name-row">
            <div class="col-lg-1">
                <h2>First</h2>
            </div>
            <div class="col-lg-3">
                <input type="text " class="form-control " style="display:table-cell ">
            </div>
            <div class="col-lg-1">
                <h2>Last</h2>
            </div>
            <div class="col-lg-4">
                <input type="text " class="form-control " style="display:table-cell ">
            </div>
            <div class="col-lg-3" ng-controller="interfaceController as interfaceCtrl">
                <button class="btn-primary btn-lg" ng-click="interfaceCtrl.searchByName()">
                        <p>Search by Name</p>
                </button>
            </div>
        </div>

        <div class="row row-header">
            <div class="col-lg-1">
                <h1>Details</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col-lg-1 ">
                <h2>Major</h2>
            </div>
            <div class="col-lg-4 ">
                <input class="form-control " type="text ">
            </div>
            <div class="col-lg-2 ">
                <h2>Hometown</h2>
            </div>
            <div class="col-lg-3 ">
                <input type="text " class="form-control ">
            </div>
            <div class="col-lg-2 ">
                <select class="form-control " ng-controller="statesController as statesCtrl">
                        <option ng-repeat="state in statesCtrl.states"  value="{{state}}">{{state}}</option>
                    </select>
            </div>
        </div>

        <div class="row ">
            <div class="col-lg-1 ">
                <h2 id="skills ">Skills</h2>
            </div>
            <div class="col-lg-4 ">
                <textarea rows="5 " class="form-control" type="text" placeholder="Seperate values with commas"> </textarea>
            </div>
            <div class="col-lg-2 ">
                <h2>Days Available</h2>
            </div>
            <div class="col-lg-2 ">
                <select class="form-control" ng-controller="daysController as daysCtrl" multiple>
                        <option ng-repeat="day in daysCtrl.days">{{day}}</option>
                    </select>
            </div>
            <div class="col-lg-3" ng-controller="interfaceController as interfaceCtrl">
                <button class="btn-primary btn-lg" ng-click="interfaceCtrl.searchByDetail()">
                        <p>Search</p>
                    </button>
            </div>
        </div>
    </div>