<html ng-app="vulnerable">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="panel panel-default" ng-controller="postController as postCtrl">
            <div class="panel-heading">
                <h1>Posts </h1>
                <button class="btn btn-danger pull-right" ng-click="logOut()">Log Out</button>
                <h2>Hello, {{user}}</h2>
            </div>
            <div class="panel-body">
                <div class="post" ng-repeat="post in posts">
                    <q ng-bind-html="post.content">
                    </q>
                    <br>
                    <em class="author">
                        - {{post.poster}}, {{post.date | date : "MM/dd/yyyy @ h:mm a"}}
                    </em>
                </div>
            </div>
            <div class="panel-footer">
                <h2>Write a new post</h2>
                <textarea class="form-control" rows="3" placeholder="Write your comment here"></textarea>
                <br>
                <button class="btn btn-primary" ng-click="writePost()">Submit</button>
            </div>
        </div>
    </div>
    <script src="dist/bundle.js"></script>
</body>

</html>