body {
    height: 100%;
    width: 100%;
    display: table;
}

.container {
    display: table-cell;
    vertical-align: middle;
    background: linear-gradient(white, skyblue);
}

.panel {
  width: 75%;
  margin: auto;
}

.author {
  font-weight: bold;
}

.post {
  margin: 2rem;
}